

.site-header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10000 !important;
  // background: rgba(71, 67, 67, 0.6);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) ;

  + .site-content {
    .section:first-of-type {
      padding-top: $header-height__mobile;
    }
  }

  .brand {
    margin-right: $header-nav--padding-h;
  }
}

.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  flex-grow: 1;

  .header-nav-inner {
    display: flex;
    flex-grow: 1;
    
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 0;

    &:first-of-type {
      flex-wrap: wrap;
    }
  }

  li {
    + .header-button {
      margin-left: $header-nav--padding-h;
    }
  }

  a:not(.button) {
    display: block;
    @include anchor-aspect(header);
    @include font-weight(header-link);
    text-transform: $link-header--transform;
    padding: 0 $header-nav--padding-h;

    .invert-color & {
      @include anchor-aspect(header, inverse);
    }
  }

  a.button {
    margin-left: $header-nav--padding-h;
  }
}

.header-nav-center:first-of-type {
  flex-grow: 1;
  justify-content: flex-end;
}

.header-nav-right {
  justify-content: flex-end;

  + .header-nav-right {
    flex-grow: 0;
  }
}

.header-nav-toggle {
  display: none;
}

@include media("<=xlarge") {
  .header-nav-toggle {
    display: block;

    // Header navigation when the hamburger is a previous sibling
    + .header-nav {
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 9999;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out, opacity 0.15s;
      background:linear-gradient(270deg, #ff7e5f, #feb47b);

      &.is-active {
        opacity: 1;
      }
      .button-primary{
        width: 250px;
        font-size: 20px;
      }

      .header-nav-inner {
        flex-direction: column;
        padding: $header-nav--padding-v__mobile;
      }

      ul {
        display: block;
        text-align: center;

        a:not(.button) {
          display: inline-flex;
          @include anchor-aspect(header-mobile);
          padding-top: $header-nav--padding-v__mobile / 2;
          padding-bottom: $header-nav--padding-v__mobile / 2;
        }
      }

      a.button {
        margin-left: 0;
        margin-top: $header-nav--padding-v__mobile / 2;
        margin-bottom: $header-nav--padding-v__mobile / 2;
      }
      
    }
  }
}

@include media(">medium") {
  .site-header {
    + .site-content {
      .section:first-of-type {
        padding-top: 0px;
      }
    }
  }

  .site-header-inner {
    height: $header-height__desktop;
  }
}

//----------------------------------------------------------------

// @include media("<=medium") {
//   .header-nav-toggle {
//     display: block;

//     // Header navigation when the hamburger is a previous sibling
//     + .header-nav {
//       flex-direction: column;
//       position: absolute;
//       left: 0;
//       right: 0;
//       top: 100%;
//       z-index: 9999;
//       max-height: 0;
//       opacity: 0;
//       overflow: hidden;
//       transition: max-height 0.25s ease-in-out, opacity 0.15s;
//       background-color: rgba(0, 0, 0, 0.5);
//       backdrop-filter: blur(8px) !important;  // Not Apply

//       &.is-active {
//         opacity: 1;
//       }

//       .header-nav-inner {
//         flex-direction: column;
//         padding: $header-nav--padding-v__mobile;
//       }

//       ul {
//         display: block;
//         text-align: center;

//         a:not(.button) {
//           display: inline-flex;
//           @include anchor-aspect(header-mobile);
//           padding-top: $header-nav--padding-v__mobile / 2;
//           padding-bottom: $header-nav--padding-v__mobile / 2;
//         }
//       }

//       a.button {
//         margin-left: 0;
//         margin-top: $header-nav--padding-v__mobile / 2;
//         margin-bottom: $header-nav--padding-v__mobile / 2;
//       }
//     }
//   }
// }

// @include media(">medium") {
//   .site-header {
//     + .site-content {
//       .section:first-of-type {
//         padding-top: 0px;
//       }
//     }
//   }

//   .site-header-inner {
//     height: $header-height__desktop;
//   }
// }

